:root {
  --clr-primary-400: hsl(168, 44%, 70%);
  --clr-secondary-500: hsl(7, 99%, 70%);
  --clr-secondary-600: hsl(51, 100%, 49%);
  --ff-clr-primary-100: hsl(212, 27%, 19%);
  --ff-clr-primary-300: hsl(167, 40%, 24%);
  --ff-clr-primary-200: hsl(198, 62%, 26%);
  --ff-clr-secondary-200: hsl(232, 10%, 55%);
  --ff-primary: "Fraunces", serif;
  --ff-secondary: "Barlow", sans-serif;
  --fs-300: 1rem; /* 16px */
  --fs-400: 1.125rem; /* 18px */
  --fs-600: 1.75rem; /* 28px */
  --fs-700: 2rem; /* 32px */
  --fs-800: 2.5rem; /* 40px */
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Core body defaults */

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
img,
picture {
  max-width: 100%;
  display: block;
}
.main-container {
  width: 100%;
}
/* Hidden destop images begins*/
.header-img-desktop {
  display: none;
}
.transform-image-desktop {
  display: none;
}
.stand-out-img-desktop {
  display: none;
}
.graphic-design-img-desktop {
  display: none;
}
.photography-image-desktop {
  display: none;
}
.milk-img-desktop {
  display: none;
}
.orange-img-desktop {
  display: none;
}
.cone-img-desktop {
  display: none;
}
.sugar-cube-img-desktop {
  display: none;
}
/* Hidden destop images ends*/

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

/* Mobile grid setup begins*/
.main-container {
  display: grid;
  grid-template-areas:
    "sec-one"
    "sec-two-img"
    "sec-two"
    "sec-three-img"
    "sec-three"
    "sec-four"
    "sec-five"
    "sec-six"
    "sec-seven"
    "footer";
  place-content: center;
  width: 100%;
  min-height: 100vh;
}

.grid-section-one {
  grid-area: sec-one;
}
.grid-section-two {
  grid-area: sec-two;
}
.grid-section-two-img {
  grid-area: sec-two-img;
}
.grid-section-three {
  grid-area: sec-three;
}
.grid-section-three-img {
  grid-area: sec-three-img;
}
.grid-section-four {
  grid-area: sec-four;
}
.grid-section-five {
  grid-area: sec-five;
}
.grid-section-six {
  grid-area: sec-six;
}
.grid-section-seven {
  grid-area: sec-seven;
}
footer {
  grid-area: footer;
}
/* Mobile grid setup ends */

/* Mobile navigation begins */
.mobile-nav-toggle {
  display: block;
  position: absolute;
  z-index: 2000;
  right: 1.5rem;
  top: 2rem;
  background: transparent;
  background-image: url(images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 1.5rem;
  aspect-ratio: 1;
  border: 0;
}
.primary-header {
  display: flex;
  align-items: center;
}
.logo-img {
  position: absolute;
  top: 2.25rem;
  left: 1.5rem;
}
.primary-navigation {
  display: flex;
  --gap: clamp(1.5rem, 5vw, 3.5rem);
  --underline-gap: 2rem;
  list-style: none;
  background: hsl(0, 0%, 100%);
  --underline-gap: 0.5rem;
  position: absolute;
  z-index: 1000;
  align-items: center;
  list-style: none;
  width: 88%;
  top: 7em;
  padding: 1.5em 0em 2.5em 0em;
  margin: 0em 0em 0em 1.5em;
  flex-direction: column;
  /* transform effects to play around with 
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out; */
  visibility: hidden;
}

.primary-navigation .--ff-secondary {
  color: var(--ff-clr-secondary-200);
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--ff-secondary);
  line-height: 3.5rem;
}

.primary-navigation[data-visible="true"] {
  /* transfrom property - transform: translateX(0); */
  visibility: visible;
}

.mobile-nav-toggle[aria-expanded="true"] {
  opacity: 0.5em;
}

.primary-navigation a {
  text-decoration: none;
  color: black;
}
.primary-navigation :nth-child(4) {
  margin-top: 1.125em;
}
.contact-button {
  font-family: var(--ff-primary);
  font-weight: 800;
  font-size: 15px;
  background-color: var(--clr-secondary-600);
  padding: 1.125em 2em;
  border-radius: 1.75em;
  color: hsl(0, 0%, 0%);
}
/* Mobile navigation ends */

/* Sections content begins */
.section-one-text {
  color: hsl(0, 0%, 100%);
  font-family: var(--ff-primary);
  font-size: var(--fs-800);
  font-weight: 900;
  letter-spacing: 0.390625rem;
  text-align: center;
  top: 8rem;
  position: absolute;
  z-index: 500;
}
.down-arrow {
  position: absolute;
  z-index: 500;
  top: 18.25em;
  left: 10.5em;
}
.section-two-three-text-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  text-align: center;
  margin: 4em 1.75em;
}
.section-two-three-name {
  font-family: var(--ff-primary);
  font-size: var(--fs-700);
  font-weight: 900;
  color: var(--ff-clr-primary-100);
  margin-bottom: 2rem;
}
.section-two-three-paragraph {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: 600;
  color: var(--ff-clr-secondary-200);
  line-height: 1.875rem;
  letter-spacing: -0.128571px;
}
.learn-more-one {
  position: relative;
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--ff-clr-primary-100);
  text-decoration: none;
  margin-top: 2em;
  border-radius: 14px;
}
.learn-more-one span {
  background: linear-gradient(hsl(49, 66%, 83%), hsl(49, 66%, 83%)) 0 90% / 100%
    8px no-repeat;
  border-radius: 1rem;
}
.learn-more-two {
  font-family: var(--ff-primary);
  font-size: 0.9375rem;
  font-weight: 900;
  letter-spacing: 1px;
  color: var(--ff-clr-primary-100);
  text-decoration: none;
  margin-top: 2em;
}
.learn-more-two span {
  background: linear-gradient(hsl(7, 100%, 86%), hsl(7, 100%, 86%)) 0 90% / 100%
    8px no-repeat;
  border-radius: 1rem;
}
.section-four-text-container {
  text-align: center;
  position: absolute;
  z-index: 500;
  margin: 24em 1.5em 0em 1.5em;
}
.section-five-text-container {
  text-align: center;
  position: absolute;
  z-index: 500;
  margin: 24em 1.5em 0em 1.5em;
}

.client-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-four-five-name {
  font-family: var(--ff-primary);
  font-size: var(--fs-600);
  font-weight: 900;
  letter-spacing: -0.2px;
  color: var(--ff-clr-primary-300);
}
.section-four-five-paragraph {
  font-family: var(--ff-secondary);
  font-size: var(--fs-300);
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: -0.11px;
  color: var(--ff-clr-primary-300);
  margin-top: 1.5em;
}

.grid-section-five .section-four-five-name {
  color: var(--ff-clr-primary-200);
}
.grid-section-five .section-four-five-paragraph {
  color: var(--ff-clr-primary-200);
}
.section-six-name {
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: 900;
  color: hsl(210, 4%, 67%);
  letter-spacing: 4px;
  text-align: center;
  margin-top: 3.75rem;
}
.section-six-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3em 1.5em 0em 1.5em;
}
.grid-section-six .client-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}
.section-six-paragraph-one {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  line-height: 2rem;
  letter-spacing: -0.13px;
  margin-top: 2em;
}
.section-six-paragraph-two {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  line-height: 2rem;
  letter-spacing: -0.13px;
  margin-top: 2em;
}
.section-six-paragraph-three {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: 600;
  color: hsl(213, 9%, 39%);
  line-height: 2rem;
  letter-spacing: -0.13px;
  margin-top: 2em;
}
.client-name {
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: 900;
  color: hsl(212, 27%, 19%);
  letter-spacing: -0.13px;
  margin-top: 1.5em;
}
.client-position {
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
  font-weight: 600;
  color: hsl(210, 4%, 67%);
  letter-spacing: -0.1px;
  margin: 0.5em 0em 5em 0em;
}
.section-seven-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* Section text content ends */

/* Footer beigns */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em 0em 7em 0em;
  background-color: hsl(168, 44%, 70%);
}
.footer-nav {
  margin-top: 1em;
}
.footer-nav a {
  font-family: var(--ff-secondary);
  font-size: var(--fs-400);
  font-weight: 600;
  letter-spacing: -0.13px;
  text-decoration: none;
  color: hsl(168, 34%, 41%);
}
.footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3em;
  margin-right: 2.25em;
}

.logo-img-footer {
  width: 10.625em;
  height: 2.0625em;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  margin-top: 4em;
  gap: 2em;
}
.social-media-icons svg {
  width: 100%;
}
svg {
  fill: #2c7566;
}
/* Footer ends */

@media only screen and (min-width: 90em) {
  /* Desktop navigation begins */
  .mobile-nav-toggle {
    display: none;
  }
  .logo-img {
    width: 10.625em;
    height: 2.0625em;
  }
  .grid-section-one {
    display: grid;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  .primary-header {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
  }

  .primary-navigation {
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    background: none;
    --underline-gap: 0.5rem;
    position: absolute;
    z-index: 1000;
    list-style: none;
    width: 100%;
    justify-content: flex-end;
    visibility: visible;
    top: 0em;
  }
  .primary-navigation .--ff-secondary {
    color: var(--ff-clr-secondary-200);
    font-size: var(--fs-400);
    font-weight: 500;
    font-family: var(--ff-secondary);
    letter-spacing: -0.13px;
    line-height: 3.5rem;
  }
  .primary-navigation :nth-child(4) {
    margin-top: 0em;
  }
  .primary-navigation a {
    color: hsl(0, 0%, 100%) !important;
    margin-right: 3.25em;
  }
  .contact-button {
    font-family: var(--ff-primary);
    font-weight: 800;
    font-size: 15px;
    background-color: hsl(0, 0%, 100%);
    padding: 1.25em 2em;
    border-radius: 1.75em;
  }

  .contact-button:hover {
    opacity: 25.37%;
  }
  a.contact-button {
    color: hsl(0, 0%, 0%) !important;
  }

  .section-one-text {
    color: hsl(0, 0%, 100%);
    font-family: var(--ff-primary);
    font-size: 3.5rem;
    font-weight: 900;
    letter-spacing: 0.546875rem;
    text-align: center;
    top: 12rem;
    left: 6.75em;
    position: absolute;
    z-index: 500;
  }
  /* Desktop navigation ends */

  /* Hidden mobile images/Displayed desktop images begins*/
  .header-img-mobile {
    display: none;
  }
  .header-img-desktop {
    display: block;
  }
  .transform-image-mobile {
    display: none;
  }
  .transform-image-desktop {
    display: block;
  }
  .stand-out-img-mobile {
    display: none;
  }
  .stand-out-img-desktop {
    display: block;
  }
  .graphic-design-img-mobile {
    display: none;
  }
  .graphic-design-img-desktop {
    display: block;
  }
  .photography-image-mobile {
    display: none;
  }
  .photography-image-desktop {
    display: block;
  }
  .milk-img-mobile {
    display: none;
  }
  .milk-img-desktop {
    display: block;
  }
  .orange-img-mobile {
    display: none;
  }
  .orange-img-desktop {
    display: block;
  }
  .cone-img-mobile {
    display: none;
  }
  .cone-img-desktop {
    display: block;
  }
  .sugar-cube-img-mobile {
    display: none;
  }
  .sugar-cube-img-desktop {
    display: block;
  }
  /* Hidden mobile images/Displayed desktop images ends*/

  /* Desktop grid setup begins*/
  .main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "sec-one"
      "sec-two sec-two-img "
      "sec-three sec-three-img"
      "sec-four"
      "sec-five"
      "sec-six"
      "sec-seven"
      "footer";
    place-content: center;
    min-height: 100vh;
  }

  .grid-section-one {
    grid-area: sec-one;
    grid-column: 1/5;
  }
  .grid-section-two {
    grid-area: sec-two;
    grid-column: 1/3;
    grid-row: 2;
    align-self: center;
  }
  .grid-section-two-img {
    grid-area: sec-two-img;
    grid-column: 3/5;
  }
  .grid-section-three {
    grid-area: sec-three;
    grid-column: 3/5;
    grid-row: 4;
    align-self: center;
  }
  .grid-section-three-img {
    grid-area: sec-three-img;
    grid-column: 1/3;
  }
  .grid-section-four {
    grid-area: sec-four;
    grid-column: 1/3;
  }
  .grid-section-five {
    grid-area: sec-five;
    grid-column: 3/5;
    grid-row: 6;
  }
  .grid-section-six {
    grid-area: sec-six;
    grid-column: 1/5;
  }
  .grid-section-seven {
    grid-area: sec-seven;
  }
  footer {
    grid-area: footer;
    grid-column: 1/5;
  }
  /* Desktop grid setup ends */

  /* Sections content begins */
  .down-arrow {
    top: 22.5em;
    left: 44em;
  }
  .section-two-three-text-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0em 4em 0em 4em;
    margin: 4.125em 1em 4em 3.25em;
  }
  .section-two-three-name {
    font-size: 2.5rem;
    margin: 0em 2em 0.875em 0em;
    line-height: 1.1875em;
  }
  .section-two-three-paragraph {
    margin-right: 4em;
  }
  .section-four-text-container {
    text-align: center;
    position: absolute;
    width: 49%;
    z-index: 500;
    margin: 24em 0em 0em 1.5em;
  }
  .section-four-text-container p {
    margin: 1.5em 12em 0em 11em;
  }
  .section-four-text-container h2 {
    margin: 0em 0.75em 0em 0em;
  }
  .section-five-text-container p {
    margin: 1.5em 9em 0em 10em;
  }
  .section-six-container {
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .section-six-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 3em 1.5em 7em 1.5em;
  }
  .section-six-name {
    margin: 8em 0em 4em 1.5em;
    font-size: 1.25rem;
  }
  .section-six-paragraph-one {
    padding: 0em 3em 2em 3em;
  }
  .section-six-paragraph-two {
    padding: 0em 5em 2em 5em;
  }
  .section-six-paragraph-three {
    padding: 0em 2em 2em 2em;
  }

  .section-seven-container {
    display: flex;
    flex-direction: row;
  }
  .learn-more-one {
    margin: 2.875em 0em 0em 0em;
  }
  .learn-more-two {
    margin: 2.875em 0em 0em 0em;
  }
  .learn-more-one:hover {
    text-decoration-color: hsl(51, 100%, 49%);
  }
  .learn-more-two:hover {
    text-decoration-color: hsl(7, 99%, 70%);
  }
  .learn-more-two:after {
    content: "";
    border-radius: 5px;
  }

  /* Sections content ends */
  /* Desktop footer begins */
  .footer-nav :hover {
    color: hsl(0, 0%, 100%);
  }
  svg:hover {
    fill: white;
  }
  /* Desktop footer ends*/
}
